<div class="wrapper">
  <app-sidebar style="background: white !important;"></app-sidebar>

  <div class="main">
      <nav class="navbar navbar-expand navbar-theme">
          <a class="sidebar-toggle d-flex mr-2">
              <i class="hamburger align-self-center"></i>
          </a>
      </nav>
      <main class="content">
          <div class="container-fluid">

              <div class="header">
                  <h1 class="header-title">
                    Doctores - Clínica Carrión
                  </h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <!-- <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li> -->
                          <li class="breadcrumb-item"><a [routerLink]="['/doctores']">Doctores</a></li>
                          <li class="breadcrumb-item"><a> <u>Registro de doctores</u> </a></li>
                      </ol>
                  </nav>
              </div>
              <div class="row">
                  <div class="col-12 col-lg-12" *ngIf="error_message">
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div class="alert-message">
                              {{error_message}}
                          </div>

                          <button type="button" (click)="error_alert()" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                      </div>
                  </div>
                  <div class="col-12 col-lg-12" *ngIf="success_message">
                      <div class="alert alert-info alert-dismissible" role="alert">
                          <div class="alert-message">
                              {{success_message}}
                          </div>

                          <button type="button" class="close" (click)="success_alert()" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                      </div>
                  </div>
                  <div class="col-12 col-xl-8" style="color:#404C4A">
                      <div class="card">
                          <div class="card-header">
                            <h4   style="color:#404C4A">Complete los siguientes campos para registrar un nuevo médico </h4>
                            <h6 class="card-title"  style="color: red">Campos obligatorios(*)</h6>
                          </div>
                          <div class="card-body">
                              <form #productoForm="ngForm" (ngSubmit)="onSubmit(productoForm)">
                                  <div class="row">
                                      <div class="col-lg-3">
                                          <div class="form-group">
                                              <label class="form-label">Nombre del doctor*</label>
                                              <input type="text" class="form-control" placeholder="Nombre" #nombre="ngModel" name="nombre" [(ngModel)]="doctor.nombre" required>
                                          </div>
                                      </div>
                                      <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Apellido del doctor*</label>
                                            <input type="text" class="form-control" placeholder="Apellido" #apellido="ngModel" name="apellido" [(ngModel)]="doctor.apellido" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                      <div class="form-group">
                                          <label class="form-label">Especialidad*</label>
                                          <select class="form-control"  #idespecialidad="ngModel" required name="idespecialidad" [(ngModel)]="doctor.idespecialidad">
                                              <option value="" disabled>SELECCIONAR</option>
                                              <option value="{{item._id}}" *ngFor="let item of especialidades">{{item.nombre}}</option>
                                          </select>
                                      </div>
                                  </div>
                                      <div class="col-lg-2">
                                          <label class="form-label">Experiencia*</label>
                                          <input type="number" class="form-control" placeholder="0"  #exp="ngModel" name="exp" [(ngModel)]="doctor.exp" required>
                                      </div>

                                  </div>




                                  <button type="submit" class="btn btn" style="background-color: #009c8c ; color:blanchedalmond">Registrar</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-xl-4">
                      <div class="card">
                          <div class="card-header">

                          </div>
                          <div class="card-body">
                              <div class="text-center">
                                  <img alt="Producto" [src]="imgSelect || '../../../../assets/img/default.png'" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                  <div class="mt-2">
                                      <input class="btn btn-primary" required (change)="imgSelected($event)" type="file" style="width: 100% !important;">
                                  </div>
                                  <small>Recuerde que en la imagen debe aparecer el 100% del rostro</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </main>

  </div>
</div>

