<main class="main h-100 w-100" style="background-color: #009c8c ">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                      <h1 style="color:#ffffff ; font-family: 'Bungee', cursive;" class="h2">CLINICA CARRIÓN</h1>
                      <p style="color:#ffffff"  class="lead">
                          Inicio de sesión
                      </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
                                <div class="m-sm-4">
                                    <div *ngIf="data_error" class=" alert alert-danger alert dismissible" role="alert">
                                        <div class="alert-message">
                                            {{data_error}}
                                        </div>
                                        <button (click)="close_alert()" type="button" class="close" data-dismiss="alert" aria-label="close" >
                                            <span aria-hidden="true">x</span>
                                        </button>
                                    </div>
                                    <div class="text-center">
                                        <img src="../../../assets/img/doctor2.png"  class="img-fluid rounded-circle" width="132" height="132" />
                                    </div>

                                        <div class="form-group">
                                          <i class="far fa-envelope fa-fw" style="color:#009c8c"></i>
                                            <label style="color:#009c8c">Email</label>
                                            <input class="form-control form-control-lg" type="email"  placeholder="Ingrese correo" #email="ngModel" name="email" [(ngModel)]="user.email" required />
                                        </div>
                                        <div class="form-group">
                                          <i class="fas fa-unlock-alt fa-fw" style="color:#009c8c"></i><label style="color:#009c8c">Contraseña</label>
                                            <input class="form-control form-control-lg"  type="password"  placeholder="Ingrese constraseña" #password="ngModel" name="password"  [(ngModel)]="user.password" required />
                                            <small>
           <!--  <a href="pages-reset-password.html">Forgot password?</a> -->
          </small>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox align-items-center">
                                            </div>
                                        </div>
                                        <div class="text-center mt-3">

                                            <button style="background-color: #009c8c ; color:blanchedalmond"
                                             type="submit" class="btn btn-lg ">Iniciar Sesión</button>
                                        </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

