<div class="wrapper">


    <!--No es recomandado dar estilos así, pero no hay tiempo :v-->
    <style>
        table,.card-title,.header,.dropdown-menu{
          color:rgb(41, 37, 37);
        }
    </style>
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                      Asegurados - Clínica Carrión
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <!-- <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li> -->
                            <li class="breadcrumb-item"><a>Gestiona  aquí a los asegurados de nuestra Clínica</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">

                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Listado de asegurados</h5>

                                <a [routerLink]="['/cliente/registrar']"  class="btn btn "  style="background-color: #009c8c ; color:blanchedalmond">Nuevo asegurado</a>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead style="background-color: #009c8c ; color:blanchedalmond">
                                    <tr>
                                        <th>Nombre y apellido</th>
                                        <th>DNI</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Opciones</th>

                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of clientes | paginate: { itemsPerPage: 6, currentPage: p }">
                                        <td>
                                            {{item.nombre}}  {{item.apellido}}
                                        </td>
                                        <td>{{item.dni}}</td>
                                        <td>{{item.telefono}}</td>
                                        <td>{{item.direccion}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button  style="background-color: #009c8c ; color:blanchedalmond" type="button" class="btn mb-1 btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" [routerLink]="['/cliente/editar/',item._id]" >Editar asegurado</a>

                                                    <a class="dropdown-item" (click)="eliminar(item._id)">Eliminar asegurado</a>

                                                </div>
                                            </div>
                                        </td>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>




            </div>
        </main>

    </div>
</div>
